{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "printWidth": 200,
  "trailingComma": "none",
  "proseWrap": "always",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
